# Android
build
app/build
.gradle
local.properties
*.iml
.cxx
captures
*.apk
*.ap_
*.aab
app/release
app/debug

# IDE
.idea/
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.temp
.cache
