# Android
android/build
android/app/build
android/.gradle
android/local.properties
android/*.iml
android/.cxx
android/captures
android/*.apk
android/*.ap_
android/*.aab
android/app/release
android/app/debug

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp
*.temp
.cache
